/* BUTTON STYLES */

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

// main button container

.ui-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  border-radius: 10rem;
  color: $f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-family: $font-primary;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: $color-main;
  //   border-radius: 10rem;
  //   z-index: -2;
  // }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 0%;
  //   height: 100%;
  //   background-color: $color-main;
  //   transition: all .3s;
  //   border-radius: 10rem;
  //   z-index: -1;
  // }

  &:hover {
    text-decoration: none;
    opacity: 0.7;
    transform: scale(0.95);
    color: $f;

    transition: all .3s;
  }

  @include isLarge {
    font-size: 1rem;
  }

  @include isXLarge {
    font-size: 1.125rem;
  }


  &.ui-btn-brown {
    background-color: $color-main;
    max-width: 260px;
  }



  &.ui-btn-line-main {
    
    border: 3px solid $f;
    
  }


  &.ui-btn-line {
    padding: 15px 35px;
    border: 3px solid $f;
    
  }

  &.ui-btn-white {
    background-color: $f;
    color: $b;


  }

  &.ui-btn-line-beige {
    padding: 15px 35px;
    border: 3px solid $color-secondary;
    background-color: transparent;
    color: $color-secondary;

    &:hover {
      // color: $b;

    }
 
  }

  &.ui-btn-dark {
    background-color: $color-third;

    &:hover {
      color: $f;

    }

  }




}


.toggle-button {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: 0;
  margin-top: 50px;
  margin: 50px auto 0;
  color: $color-secondary;
  transition: all .3s;

  @include isLarge {
    margin: 50px 0 0 auto;
  }

  span.icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $color-secondary;

    svg {
      width: 30px;
      height: 25px;
    }
  }

  &:hover {
    transform: scale(0.95);
    transition: all .3s;
  }

  &:focus {
    outline: none;
  }
}


.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: rgba(0,0,0,0);
  border: 0;
  color: $color-main;
  margin: 50px auto;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 25px;

  @include isLarge {
    margin: 80px 22% 0 auto;
  }

  span.icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $color-main;

    svg {
      width: 30px;
      height: 25px;
    }
  }

  &:hover {
    transform: scale(0.95);
    transition: 0.3s;
  }

  &:focus {
    outline: none;
  }
}
