/* Typography */

// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
  @return ($px / $base) * 1rem;
}

@mixin linkHover {
  position: relative;
  text-decoration: none;
  display: inline-block;
  &:before {
    content: close-quote;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: var(--m);
    transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  }
  
  &:hover {
    text-decoration: none;
    &:before {
      left: calc(100% - 20px);
      width: 20px;
    }
  }
}



/*------------------------------------*\
	  # Simple Typography Settings
  \*------------------------------------*/


//montserrat
$font-family: "montserrat", sans-serif;
$font-weight: 300;
$font-style: normal;

//montserrat
$font-family: "montserrat", sans-serif;
$font-weight: 400;
$font-style: normal;

//montserrat
$font-family: "montserrat", sans-serif;
$font-weight: 500;
$font-style: normal;

//montserrat
$font-family: "montserrat", sans-serif;
$font-weight: 600;
$font-style: normal;

//montserrat
$font-family: "montserrat", sans-serif;
$font-weight: 700;
$font-style: normal;

//montserrat
$font-family: "montserrat", sans-serif;
$font-weight: 900;
$font-style: normal;


//abadi
$font-family: "abadi", sans-serif;
$font-weight: 300;
$font-style: normal;

//abadi
$font-family: "abadi", sans-serif;
$font-weight: 400;
$font-style: normal;

//abadi
$font-family: "abadi", sans-serif;
$font-weight: 500;
$font-style: normal;

//abadi
$font-family: "abadi", sans-serif;
$font-weight: 600;
$font-style: normal;



//abadi
$font-family: "abadi", sans-serif;
$font-weight: 700;
$font-style: normal;


//abadi
$font-family: "abadi", sans-serif;
$font-weight: 800;
$font-style: normal;

//abadi
$font-family: "abadi", sans-serif;
$font-weight: 900;
$font-style: normal;



//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 300;
$font-style: normal;

//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 400;
$font-style: normal;

//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 500;
$font-style: normal;

//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 600;
$font-style: normal;



//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 700;
$font-style: normal;


//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 800;
$font-style: normal;

//bodoni-urw
$font-family: "bodoni-urw", serif;
$font-weight: 900;
$font-style: normal;



$font-primary:  'abadi', sans-serif;
$font-secondary: 'montserrat', sans-serif;
$font-third: 'bodoni-urw', serif;
$font-fourth: 'montserrat', sans-serif;
// Base Font for HTML
$base-font-size: 18px;

// Paragraph Styles
$paragraph-color: $paragraph_text;
$paragraph-size: 16px;
$paragraph-line-height: 26px;
$paragraph-margin: 20px;

// Header Styles
$header-color: #2b303a;
$header-size: rem(40px);
$header-line-height: 1em;
$header-margin: $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color: #505050;
$blockquote-size: rem(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin: $paragraph-margin * 1.5;

// Links
$link-color: $color-main;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #dadada;

/*------------------------------------*\
	  # Type
  \*------------------------------------*/

// Make type normal across browsers
// *,
html,
body {
  font-family: $font-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

span.subtitle {
  color: $color-secondary;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;

  &.w {
    color: $f;
  }
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $header-margin * 1.5;
  color: $b;
  line-height: $header-line-height;
  font-weight: normal;
  font-family: $font-primary;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  // -ms-hyphens: auto;
  // -moz-hyphens: auto;
  // -webkit-hyphens: auto;
  // hyphens: auto;

  &:first-child {
    margin-top: 0;
  }


  sup {
    font-size: 45%;
    top: -0.9em;
  }
}
.txtupp {
  text-transform: uppercase;
}

h1 {

  &.h-title {
    font-family: $font-primary;
    font-size: $header-size;
    font-weight: normal;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1;
    color: $f;
    font-size: 2.2rem;
    margin-bottom: 25px;
    letter-spacing: 0.5rem;
    font-size: 2.2rem;
    opacity: 0.7;

    @include isSmall {
      font-size: 2.5rem;
    }

    @include isMedium {
      font-size: 3rem;
      letter-spacing: 1rem;
    }

  
    @include isLarge {
      font-size: 3.75rem;
      letter-spacing: 1.4rem;
    }

    @include isXLarge {
      font-size: 4rem;
      letter-spacing: 2rem;
    }
  
    @include isRetina {
      font-size: 4.375rem;
      letter-spacing: 2.2rem;
    }

    @include is1700 {
      font-size: 5rem;
      letter-spacing: 2.4rem;
    }
  
  


    span {
      color: $f;
    }
  
  }

}


h2 {



  &.h-title {
    // font-family: $font-secondary;
    font-size: $header-size;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    // letter-spacing: 4px;
    line-height: 1;
    color: $f;
    margin-bottom: 0;
    font-size: 2.2rem;
    text-align: center;

    @include isSmall {
      font-size: 3rem;
    }

    @include isMedium {
      font-size: 3rem;
    }

  
    @include isLarge {
      font-size: 3.75rem;
      text-align: left;
    }

    @include isXLarge {
      font-size: 4rem;
     
    }
  
    @include isRetina {
      font-size: 4.375rem;
     
    }

    @include is1700 {
      font-size: 5rem;
      
    }

  
  
  
  }

  
  &.sh-title {
    font-family: $font-third;
    font-size: $header-size;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    color: $f;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: center;


    @include isLarge {
      font-size: 1.75rem;
      text-align: left;
    }

    @include isXLarge {
      font-size: 2rem;
    }

    @include isRetina {
      font-size: 2.25rem;
    }
    
    @include is1500 {
      font-size: 2.5rem;
    }
  
  }



}

h3 {


  &.h-title {
    font-family: $font-primary;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    color: $color-third;
    margin: 0;
    font-weight: 300;
    font-size: 1.7rem;
    // letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
    
   
    @include isLarge {
      font-size: 1.9375rem;
      text-align: left;
    }

    @include isXLarge {
      font-size: 2rem;
    }
  
  
    
    @include isRetina {
      font-size: 2.2rem;
    }



  }

  &.sh-title {
    font-size: $header-size;
    font-weight: normal;
    font-size: 1.3rem;
    letter-spacing: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    position: relative;
    letter-spacing: 5px;
    margin-right: -5px;


  
    @include isLarge {
      font-size: 1.3rem;
      letter-spacing: 7px;
      margin-right: -10px;
    }

    

    @include isLarge {
      font-size: 1.3rem;
    }
    
    @include isXLarge {
      font-size: 1.5rem;
   
    }

    @include isRetina {
      font-size: 2rem;
 
    }
  
  }
}


.sec-title.underline {
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 2.25rem;
  &:after {
    content: close-quote;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    height: 8px;
    background: #52c3ec;
  }
}

h4 {
  &.h-title {
    font-size: $header-size;
    font-weight: normal;
    font-size: 1.3rem;
    letter-spacing: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-weight: 400;
    margin: 0;
    // margin-bottom: 50px;
    margin: 0;
    line-height: 1;
    position: relative;
    letter-spacing: 5px;
    margin-right: -5px;


  
    @include isLarge {
      font-size: 1.3rem;
      letter-spacing: 10px;
      margin-right: -10px;
    }
    
    @include isXLarge {
      font-size: 1.5rem;
   
    }

    @include isRetina {
      font-size: 2rem;
 
    }
  
  }

  
  &.sh-title {
    font-size: $header-size;
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin: 0;
    line-height: 1;
    position: relative;


  
    @include isLarge {
      font-size: 1.5rem;
    }
    
    @include isXLarge {
      font-size: 1.8rem;
   
    }

    @include isRetina {
      font-size: 2rem;
 
    }
  
  }


}

h5 {
  font-size: $header-size / 1.8;
  margin-bottom: $header-margin / 1.8;
}

h6 {
  font-size: $header-size / 2;
  margin-bottom: $header-margin / 2;
}

// Paragraphs
p {
  margin-bottom: $paragraph-margin;
  font-family: $font-primary;
  font-size: 1rem;
  letter-spacing: 0em;
  line-height: 1.8;
  letter-spacing: 0;
  font-weight: 400;
  margin: 50px auto;

  @include isSmall {
    font-size: 1rem;
  }

  @include isLarge {
    margin-top: 50px;
    font-size: 1.125rem;
  }

  @include isXLarge {
  
    
  }

  @include isRetina {
    font-size: 1.15rem;

    line-height: 1.8
  }

  @include is1500 {
    font-size: 1.25rem;
  }

  &.semi-b {
    font-weight: 600;
  }



  &.w {
    color: $f;
  }
  &:last-of-type {
    //   margin-bottom: 0;
  }

  color: #0A0A0A;
}

// Links
a {
  color: $link-color;
  transition: all 0.2s ease;

  
  &:not([class]){
    position: relative;
    text-decoration: none;
    display: inline-block;
    &:before {
      content: close-quote;
      position: absolute;
      top: 100%;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: var(--m);
      transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
    }
  
    &:hover {
      text-decoration: none;
      &:before {
        left: calc(100% - 20px);
        width: 20px;
      }
    }
  }


  &.alink {
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    color: inherit;
    &:before {
      content: close-quote;
      position: absolute;
      top: 100%;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: var(--m);
      transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
    }
  
    &:hover {
      text-decoration: none;
      &:before {
        left: calc(100% - 20px);
        width: 20px;
      }
    }

  }
  &:hover {
    color: darken($link-color, 20%);
  }

  font-size: 1rem;
  line-height: 1.5;

  @include is1500 {
    font-size: 1.25rem;
    line-height: 40px;
  }
}

// Lists
ul,
ol {
  margin: 0;  


  li {
    // margin-top: 10px;
    line-height: $paragraph-line-height;
    color: $b;
    font-family: $font-secondary;
    font-size: 16px;
    color: $b;
  
    letter-spacing: 0em;
    line-height: 1.8;
  

    @include is1500 {
      font-size: 20px;
    }

    &::marker {
      font-size: 1.5em;
      color: $color-main;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }
}

ul {


  li {
    list-style: disc;
  }

  ul {
    li {
      list-style: circle;
    }
  }
}

ol {
  li {
    list-style: decimal;
  }
}

// hr
hr {
  height: 1px;
  margin: $hr-margin 0;
  border: none;
  background-color: $border-color;
}

// Blockquote
blockquote {
  margin: $blockquote-margin 0;
  font-size: $blockquote-size;
  line-height: $blockquote-line-height;
  color: $blockquote-color;
  text-align: center;
  font-style: italic;
}

// Tables
table {
  width: 100%;
  margin: $blockquote-margin 0;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid $border-color;
  text-align: left;
}

th {
  font-weight: $font-weight-bold;
}

th,
td {
  padding: 15px;
}

// Figure
figure {
  margin: $blockquote-margin 0;

  img {
    margin: 0;
  }
}

figcaption {
  margin-top: 10px;
  color: lighten($paragraph-color, 10%);
  font-size: $paragraph-margin * 0.8;
}

// Code
pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: lighten($border-color, 12%);
  border: 1px solid $border-color;
  overflow: auto;
  border-radius: 3px;

  code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em;
  }
}

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: $paragraph-size / 1.2;
  color: darken($border-color, 70%);
  line-height: 1em;
  pointer-events: none;
  border: 1px solid $border-color;
  border-radius: 3px;
}

// Misc Styles
em,
i,
.italic {
  font-style: italic;
}

strong,
b,
.bold {
  font-weight: $font-weight-bold;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

input {
  &:focus {
    outline: none;
  }
}


sup {
  top: -0.25em;
}

p.titlespan {
  font-weight: 600;
  text-transform: uppercase;
  color: #52c3ec;
  font-size: 18px;
}
